language: c
before_install:  
    - echo 'deb http://cran.rstudio.com/bin/linux/ubuntu precise/'  | sudo tee -a /etc/apt/sources.list
install: 
   - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E084DAB9
   - sudo apt-get update -y
   - sudo apt-get install r-base -y 

before_script:
    - sudo rm -rf ./img/thumb/*  
    - sudo rm -rf _posts/*
    - chmod +x makeGraphs.sh
    - chmod +x deployTravis.sh

script: 
    - ./makeGraphs.sh
    - ./deployTravis.sh


